{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Solution to Understanding Question {{ num_q }} of {{ total_q }}
{% endblock %}


{% block content %}
{% if player.training_answer_x == Constants.training_answer_x_correct %}
    <p class="text-success">
    Your answer {{player.training_answer_x}} for participant A was correct.
    </p>
{% else %}
    <p class="text-danger">
    Your answer {{player.training_answer_x}} for participant A was incorrect.
    </p>
{% endif %}
{% if player.training_answer_y == Constants.training_answer_y_correct %}
    <p class="text-success">
    Your answer {{player.training_answer_y}} for participant B was correct.
    </p>
{% else %}
    <p class="text-danger">
    Your answer {{player.training_answer_y}} for participant B was incorrect.
    </p>
{% endif %}
<p>
Suppose both participants began with 100 points, then participant A sent 20 points to participant B. Having received the
    tripled amount, participant B sent 50 points to participant A. In the end, how many points would participant A and B have?
</p>
<p>
<strong>Solution:</strong> Participant A would have <strong>$1.30</strong> and B <strong>$1.10</strong>.
</p>
<p>
<strong>Explanation:</strong> Participant A first sent $0.20 to B. It was tripled thus B received 3 x $0.20 = $0.60.
    Then participant B sent $0.50 to A. Participant A received exactly $0.50. Hence at last A would have $1.00 - $0.20 + $0.50 = $1.30
    and B would have $1.00 + $0.60 - $0.50 = $1.10.
</p>
<p>
{% next_button %}
</p>
{% include instructions %}
{% endblock %}
