{% extends "global/Instructions.html" %}

{% block instructions %}
<p>
You will be paired randomly and anonymously with another participant. In this study, one of you will be Participant 1 and the other Participant 2. Prior to making a decision, you will learn your role, which will be randomly assigned. 
</p>
<p>
Each participant starts with {{Constants.allocated_amount}}. Participant 1 will then decide how much to send to Participant 2. Before Participant 2 receives it, the amount sent will be tripled by the experimenter.
</p>
{% endblock %}
