{% extends "global/Base.html" %}
{% load otree_tags %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}

<p>
This is a research study being conducted by the Center for the Study of Neuroeconomics at George Mason University. The task should take anywhere between 1-10 minutes.
</p>

<p>
The task consists of one round where you will be asked to makes a variety of economic decisions. Initially, you will be paid $0.25 to read the consent form and answer a few questions to confirm you are a human. You must wait and be ready to participate once your partner agrees to participate. In addition, you may earn money on top of these initial fees. The exact amount of your additional earnings may range from $0 to $60, depending on your decisions, the decisions of others in the experiment, or random events within the experiment. Payment will be authorized within 48 hours.
</p>

<p>
CSN-201502, Informed Consent Form (Mechanical Turk Participants)
</p>
<p>
Research Procedures 
</p>

<p>
You are being asked to take part in a research study being conducted by the Center for the Study of Neuroeconomics Department at George Mason University. This study is designed to look at the economics of decision making. This research will take 1-10 minute(s) of your time. 
</p>

<p>
As part of this research you will be asked to make decisions that will affect your earnings and the earnings of others. You will be paid $0.25 to read the consent form and answer a few questions to confirm you are a human. You must wait and be ready to participate once your partner agrees to participate. In addition to the money earned through reading the consent, answering question and waiting, you may earn more during the course of the experiment. The exact amount of your additional earnings may range from $0 to $60, depending on your decisions, the decisions of others in the experiment, or random events within the experiment. Please note, however, that payouts approaching this maximum are rare. You may withdraw from the experiment at any time.
</p>

<p>
Risks 
</p>

<p>
There are no foreseeable risks or discomforts. 
</p>

<p>
Benefits 
</p>

<p>
There are no direct personal benefits for participation. 
</p>

<p>
Participants 
</p>

<p>
You must be 18 or over to participate. Your participation is voluntary. You may refuse to take part or withdraw from the study at any time and for any reason. If you decide not to participate or if you withdraw from the study, there will be no penalty or loss of benefits to which you are otherwise entitled. There are no costs to you or any other party. 
</p>

<p>
Confidentiality 
</p>

<p>
All electronic files will be saved confidentially on a physically secure, password protected Amazon server. All communication with Mechanical Turk is secured by using Secure Socket Layer (SSL) encryption software. For subjects to register with the Amazon Mechanical Turk site, they must provide name, email and physical address. At the study website, participants will be asked to provide (anonymously) some basic demographic information.  No personally-identifiable information will be reported in any published or unpublished work. Access to data is restricted to the staff of the Center for Neuroeconomics and the Krasnow Institute at George Mason University. Researchers at GMU may use personally-identifiable information in the future only to contact you to ask if you are interested in participating in future studies. 
</p>

<p>
Contact 
</p>

<p>
This study is being conducted by Prof. Kevin McCabe, Center for Neuroeconomics, at George Mason University. Prof. McCabe may be reached at 703.993.9441 for questions or to report a research-related problem. You may contact the George Mason University's Office of Research Integrity & Assurance, phone 703.993.4121, if you have any questions or comments regarding your rights as a participant in this research.
</p>

<p>
This project has been reviewed according to George Mason University procedures governing your participation in this research. Please notify the researcher if you have any questions regarding this document.  
</p>

<p>
The George Mason University Institutional Review Board has waived the requirement for a signature on this consent form.
</p>

{% endblock %}
